.error-page{
 background-image: linear-gradient(to right, #eefaf9, #e2eff6);
}
.error-container{
   border-color: var(--theme-color);
   color: var(--theme-color);
box-shadow: rgba(222, 17, 17, 0.3) 0px 19px 38px, rgba(209, 27, 7, 0.22) 0px 15px 12px;

}